<a href="https://colab.research.google.com/github/Komimah/Komimah/blob/main/Untitled2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
def check_even_odd(num):
    if num%2==0:
        print("even number:", True)
    else:
        print(False)

check_even_odd(10)

even number: True

In [3]:
def check_even_odd(num):
    if num%2==0:
        print("even number:", True)
    else:
        print(False)

check_even_odd(11)

False

In [6]:
def function(n):
    if n % 2 == 0:
        for i in range(0,n + 1,2):
            print(i)
    else:
        print(n / 2)

n = input("Enter a number: ")
function(int(n))

Enter a number: 6
0
2
4
6

In [9]:
def function(n):
    if n % 2 == 0:
        for i in range(0,n + 1,2):
            print(i)
    else:
        print(n / 2)

n = input("Enter a number: ")
function(int(n))

Enter a number: 9
4.5

In [11]:
def function(end):
    start = 0

    for num in range(start, end + 1):
        if num % 2 != 0:
            print(num, end=" ")

function(end = int(input("Insert a number: ")))

Insert a number: 4
1 3

In [12]:
def function(num):
    s = sum(range(1, num + 1, 2))
    print(s)

function(num = int(input("Insert number: ")))

Insert number: 6
9

In [13]:
def function(num):
    s = sum(range(1, num + 1, 2))
    print(s)

function(num = int(input("Insert number: ")))

Insert number: 16
64

In [63]:
def function(num):
  s = sum(range(0, num + 1, 2))
  print(s)

function (7)

12

In [10]:
def foo(a, b, c):
    list = [a, b, c]
    min_num = min(list)
    square_min_num = min_num * min_num
    new_list = list.remove(min_num)
    min_num2 = min(list)
    square_min_num2 = min_num2 * min_num2
    sum = square_min_num + square_min_num2
    print(sum)


a = int(input("Enter a:"))
b = int(input("Enter b:"))
c = int(input("Enter c:"))

foo(a, b, c)

Enter a:12
Enter b:5
Enter c:8
89

In [11]:
def foo(a,b,c):
    list=[a,b,c]
    min_num = min(list)
    square_min_num = min_num*min_num
    new_list=list.remove(min_num)
    min_num2 = min(list)
    square_min_num2 = min_num2*min_num2
    sum = square_min_num+square_min_num2
    print(sum)

foo(1,2,3)

5